<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-COmpatible" content="ie=edge">
        <title>
            Sistema de autentificación
        </title>
    </head>
    <body>
        {% block content %}
        <h1>Página de inicio</h1>
        {% if not user.is_authenticated %}
            <a href="{% url 'login_url' %}">Login</a>
            <a href="{% url 'register_url' %}">Registro</a>
        {% endif %}
        {% endblock %}
    </body>
</html>