{% extends 'base.html' %}

{% block content %}
    <h1> Estimado <b>{{request.user.name}} {{request.user.lastname1}} {{request.user.lastname2}}</b></h1>
        <p>
            Las siguientes preguntas se relacionan con diversas actividad, debe indicar
            que tanto le interesa las actividades presentadas dando click sobre ella,
            se presentan las siguietes respuestas:
        </p>
        <p>
            <ol>
                <li>No me interesa</li>
                <li>Me intesera poco</li>
                <li>Me interesa</li>
                <li>Me interesa mucho</li>
            </ol>
        </p>
        <hr />
        <a href="{% url 'dashboard' %}">Regresar</a> 
        <hr />
        <a href="{% url 'quiz' %}">Continuar</a> 

{% endblock %}